#chatHeader {
  border-left: none;
  border-right: none;
  border-top: none;
  border-radius: 0;
  box-shadow: 0 2px 2px -2px gray;
  align-items: center;
  justify-items: center;
  width: 100%;
  max-height: 125px;
}

#chatHeaderCategory {
  padding-top: 1.5rem;
  padding-bottom: 0;
  font-size: 24px;
  color: #5d5d5d;
}

.chatHeaderUsernames {
  padding-top: 0.25rem;
  padding-bottom: 2rem;
  font-size: 16px;
  color: #5d5d5d;
  display: inline-flex;
}

.chatHeaderUsernames > p {
  margin: 0;
}

.chatHeaderCurrentUser {
  color: #ff1940;
}
